body {
    background:url(../img/login/login.jpg) #f8f6e9;
}
.mycenter{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width:500px;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.mycenter mysign{
    width: 440px;
}
.mycenter input,button{
    margin-top:2%;
    margin-left: 10%;
    margin-right: 10%;
}

.mycheckbox{
    margin-left: 12%;
}

.btn-success{
    margin-left: 10%;
}