<table id="cronRun" class="cell-border stripe hover" cellspacing="0" style="font-size: smaller; word-break: break-all">
    <thead>
    <tr style="background-color: #d9edf7;" class="dtTable">
        <th>任务名称</th>
        <th>任务分组</th>
        <th>时间表达式</th>
        <th>是否同步</th>
        <th>邮件Id</th>
        <th>操作</th>
    </tr>
    <tbody>
        #foreach($item in $executingJobList)
        <tr>
            <td>$!{item.jobName}</td>
            <td>$!{item.jobGroup}</td>
            <td>$!{item.cronExpression}</td>
            <td>$!{item.isSync}</td>
            <td>$!{item.ecId}</td>
            <td style="text-align: center"><button scheduleJobId="$!{item.scheduleJobId}" class="btn btn-warning btn-sm pauseCron" ><span class="glyphicon glyphicon-pause"></span>暂停</button></td>
        </tr>
        #end
    </tbody>
    </thead>
</table>
<link rel="stylesheet" href="/assets/css/public/jquery.dataTables.min.css">
<link rel="stylesheet" href="/assets/css/base/dataTables.css">
<script src="/assets/js/public/jquery.dataTables.min.js"></script>
<script src="/assets/public/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/js/base/dataTablesNoPaging.js"></script>
<script src="/assets/js/cron/crList.js"></script>
