<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dark.dao.EmailConfigMapper" >
  <resultMap id="BaseResultMap" type="com.dark.model.EmailConfig" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="ec_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tc_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sender" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="receivers" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email_cc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email_bcc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subject" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="back_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gmt_created" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
</mapper>