<table id="ecSource" class="cell-border stripe hover" cellspacing="0" style="font-size: smaller; word-break: break-all">
    <thead>
    <tr style="background-color: #d9edf7;" class="dtTable">
        <th>ecId</th>
        <th>tcId</th>
        <th>接收者</th>
        <th>抄送者</th>
        <th>主题</th>
        <th>创建时间</th>
        <th>操作</th>

    </tr>
    </thead>
</table>
<div id="dataInfoContent"></div>
<link rel="stylesheet" href="/assets/css/public/jquery.dataTables.min.css">
<link rel="stylesheet" href="/assets/css/base/dataTables.css">
<script src="/assets/js/public/jquery.dataTables.min.js"></script>
<script src="/assets/public/jquery-ui/jquery-ui.min.js"></script>
<script src="/assets/js/base/dataTablesPaging.js"></script>
<script src="/assets/js/base/transferSpecial.js"></script>

<script src="/assets/js/base/dateFormat.js"></script>
<script src="/assets/js/template/ecList.js"></script>
